<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<test name="Sample Test">
		<classes>
			<class name="com.incubyte.selenium.runner.TestRunner" />
			<!-- <class name="testRunners.TestRunnerRerun"/> -->
		</classes>
	</test> <!-- Test -->

	<listeners>
		<listener class-name="com.incubyte.selenium.utility.MyTestListener"></listener>
	</listeners>
</suite> <!-- Suite -->


<!-- https://howtodoinjava.com/testng/how-to-execute-testng-tests-with-maven-build/ -->
